*{
  box-sizing: border-box;
 }

body {
  background-image: url("../images/wallpaper7.jpg");
  background-repeat: no-repeat;
  background-size: 960px;
}

.wrapper{
  width: 500px;
  text-align: left;
  font-size: 25px;
  font-family: 'Tangerine', cursive;
  font-weight: bold;
  color: #999;
}

 .questions{
  margin: auto;
  font-size: 25px;
  text-align: left;
  font-family: 'Tangerine', cursive;
  color: #999;
}

.checkbox{
  font-size: 12px;
  color: #999;
  font-family: sans-serif;
}

.startButton{
  text-align-last: right;
}


