body
{
background-image: url("../images/Board.jpg");
background-size: cover;
}


.answers1, .answers2, .answers3, .answers4, .answers5, .answers6, .answers7, .answers8, .answers9, .answers10{
	margin-bottom: 2px;
	color: #DCDCDC;

}

.questions{
	font-weight: bold;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 15px;
	margin-top: 2px;
	margin-bottom: 2px;
	color: #DCDCDC;

}

#timer{
	font-weight: bold;
	color: #DCDCDC;
	font-size: 25px;
  text-align: center;
  margin-left: 427px;
}

h1{
	color: #DCDCDC;
  text-align: center;
  font-size: 100px;
  margin-left: 419px;
}

.results{
	color: #DCDCDC;
	margin-right: 25px;
	font-size: 15px;
  text-align: center;
}

#correctAnswer{
	margin-top: 30%;
}

#start{
	height: 75px;
	width: 100px;
	color: black;
	border-color: #DCDCDC;
	background-color: #DCDCDC;
	font-size: 25px;
	font-weight: bold;
  margin-left: 772px;
}
