*.container-fluid{
	background-image: url(images/broncos.jpg);
}

.answers1, .answers2, .answers3, .answers4, .answers5, .answers6, .answers7, .answers8, .answers9, .answers10{
	margin-bottom: 2px;
	color: white;
}

.questions{
	font-weight: bold;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 15px;
	margin-top: 2px;
	margin-bottom: 2px;
	color: #FF6347;
}

#timer{
	font-weight: bold;
	color: white;
	font-size: 25px;
}

h1{
	color: #FF6347;
}

.results{
	color: white;
	text-align: right;
	margin-right: 25px;
	font-size: 15px;
}

#correctAnswer{
	margin-top: 30%;
}

#start{
	height: 75px;
	width: 100px;
	color: #FF6347;
	border-color: blue;
	background-color: blue;
	font-size: 25px;
	font-weight: bold;
}
